{% extends "base.html" %}
{% block nav_enquiries%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
    <!-- <div class="mt-2 px-lg-4 font-weight-bold" 
    style="letter-spacing: 0.1em; padding-top: 1rem; text-align: center;font-size: 18px;font-weight: 800;color: #303031;">ADD ENQUIRIES</div> -->
<section class="pt-4 pb-4">
    <div class="card mb-5 mb-lg-0">         
        <div class="card-header">
            <h2 class="h6 mb-0">Add Enquiries</h2>
        </div>
        <form id="myForm">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom02">Company name</label>
                        <div class="input-group select2-bootstrap-append">
                            <select id="select_company_1" name="company" class="company-select">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom02">Source</label>
                        <div class="input-group select2-bootstrap-append">
                            <select id="select_company_2" name="source" class="source-select">
                                <option value="email">Email</option>
                                <option value="call">Call</option>
                                <option value="call">Whatsapp </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="clonable-block" data-toggle="cloner">
                                <div class="clonable form-group"  data-ss="1" style="margin-bottom: 1.5rem;
                                padding-bottom: 1.5rem;
                                border: 1px solid #ebedf2;
                                padding: 15px;
                                border-radius: 10px;">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="person_1" class="clonable-increment-for" style="font-size: 16px;font-weight: 600;text-decoration: underline;">Grade <span class="clonable-increment-html">#1</span></label>
                                        </div>
                                        <div class="col-md-6 mb-3 text-right">
                                            <button type="button" class="btn btn-danger f-w-600 btn-xl-shadow m-r-10 clonable-button-close"> 
                                                Remove Grade
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationCustom01">Grade of Metal</label>
                                            <input type="text" class="form-control clonable-increment-id clonable-increment-name" id="validationCustom01" placeholder="Grade of Metal" value="" required>
                                        </div>
                                    </div>
                                    <div class="clonable-block" data-toggle="cloner">
                                        <div class="clonable form-group" data-clone-number="2">
                                            <div class="row w-100">
                                                <div class="col-md-12 mb-3">
                                                <label for="attr_1" class="clonable-increment-for" style="font-size: 14px;font-weight: 600;">Measure <span class="clonable-increment-html">#1</span></label>
                                            </div>
                                            </div>
                                            <div class="row w-100">
                                                <div class="col-md-3 mb-3">
                                                    <label for="size1">Size</label>
                                                    <input type="text" class="form-control clonable-increment-id clonable-increment-name" id="size1" placeholder="Enter Size" name="size[1]" value="" required>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="quantity1">Quantity</label>
                                                    <input type="text" class="form-control clonable-increment-id clonable-increment-name" id="quantity1" placeholder="Enter Quantity" name="qty[1]" value="" required>
                                                </div>
                                                <div class="col-md-3 mb-3" style="margin-top: 30px;">
                                                    <button type="button" class="btn btn-primary f-w-600 clonable-button-add  btn-xl-shadow m-r-10">
                                                        <i class="fas fa-plus"></i> 
                                                    </button>
                                                    <button type="button" class="btn btn-danger f-w-600 btn-xl-shadow m-r-10 clonable-button-close">
                                                        <i class="fas fa-minus"></i> 
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary f-w-600 clonable-button-add btn-xl-shadow">
                                    Add Grade
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3 mt-3">
                                    <label for="remarks1">Remarks</label>
                                    <input type="text" class="form-control" id="remarks1" placeholder="Enter Remarks" value="" required>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-danger f-w-600 btn-xl-shadow clonable-button-close" id="resetForm">
                                        Remove Company
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-5">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary f-w-600 btn-xl-shadow submit-enquiry">
                            Submit Form
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
<script src="/../static/assets/js/form-cloner/dist/jquery.cloner.min.js" type="text/javascript"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        $('.company-select').select2();
        $('.source-select').select2();
        // $('#myForm').submit(function() {
        //     var values = $('#myForm').serialize();  
        //     console.log(values);
        //     return false;
        // })
        $('.submit-enquiry').on('click', function () {
            var formData = JSON.parse(JSON.stringify(jQuery('#myForm').serializeArray()))
            console.log(formData);
        });
        // $('.submit-enquiry').on('click', function () {
        //     swal({
        //         title: "Success",
        //         text: "Enquiry Submitted Succesfully",
        //         type: "success",
        //         showCancelButton: false,
        //         confirmButtonClass: "btn-primary btn-xl-shadow",
        //         confirmButtonText: "Ok",
        //     },
        //     function(isConfirm){
        //         if (isConfirm) {
        //             window.location.href = "/app/view_orders";
        //         }
        //     });
        // });
    });
</script>
{% endblock %}