{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CloudLab-IdealSteel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="shortcut icon" href="/../static/assets/img/logo.png">
    <link rel="stylesheet" href="/../static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.digicollect.com/cdn/dcforms/static/assets/global/plugins/icons-new/icons.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.digicollect.com/cdn/dcforms/static/assets/global/plugins/material-icons/material-icons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/../static/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link href="https://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="/../static/assets/js/gritter/jquery.gritter.css" rel="stylesheet" />
    <style>
      body {
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          color: #303031;
          background-color: #F8F9FB;
      }
      .form-control {
          padding: 0.4rem 0.8rem 0.4rem 0.1rem !important;
          font-size: 14px;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          border: 0px;
          border-bottom: 1px solid #ced4da;
          border-radius: 0px;
          outline: none;
          -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      }
      .form-control:focus {
          color: #495057;
          background-color: #fff;
          border-color: #4680ff;
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
      }
      .card {
          background-color: #fff;
          border: none;
          -webkit-box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.1) !important;
          border-radius: 10px !important;
      }
      .card-header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: relative;
          padding: 1rem 2rem;
          background-color: white;
          border-bottom: none;
          -webkit-box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.1) !important;
      }
      .card-header .header-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
      }
      .card-header .actions-right {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-line-pack: end;
          align-content: flex-end;
      }
      .roundy-10 {
          border-radius: 10px;
      }
      .select2-container {
          width: 100% !important;
      }
      .select2-container--default .select2-selection--single {
          background-color: #fff;
          padding: 0px 0.8rem 0px 0.1rem !important;
          font-size: 14px !important;
          line-height: calc(2.25rem + 2px) !important;
          color: #495057 !important;
          border: 0px !important;
          border-bottom: 1px solid #ced4da !important;
          border-radius: 0px !important;
          -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          height: calc(2.25rem + 2px) !important;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 34px;
          position: absolute;
          top: 1px;
          right: 1px;
          width: 20px;
      }
      .select2-container--default .select2-selection--single .select2-selection__rendered {
          color: #495057 !important;
          line-height: calc(2.25rem + 2px) !important;
      }
      .select2-container--open .select2-dropdown--below {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
      .select2-dropdown {
          background-color: white;
          border: 1px solid #ced4da !important;
          border-radius: 12px !important;
          box-sizing: border-box;
          display: block;
          position: absolute;
      }
      .select2-container--default .select2-search--dropdown .select2-search__field {
          border: 1px solid #ced4da !important;
      }
      .select2-container--default.select2-container--focus .select2-selection--multiple {
          border: solid transparent 1px;
          outline: 0 !important; 
      }
      .select2-container--classic .select2-selection--single:focus {
          border: 1px solid transparent; 
      }
      .badge {
          display: inline-block;
          padding: 7px 6px;
          font-size: 13px;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          border-radius: .25rem;
      }
      .kt-portlet {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, 0.1) !important;
          border-radius: 10px !important;
          background-color: #fff;
          margin-bottom: 20px;
        }
        
        .kt-portlet .kt-portlet__head1 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: relative;
          padding: 0 25px;
          border-bottom: 1px solid #ebedf2;
          min-height: 60px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .kt-portlet .kt-portlet__head1 {
          -webkit-transition: left .3s,right .3s,height .3s;
          transition: left .3s,right .3s,height .3s;
        }
        .kt-portlet .kt-portlet__head1 {
          -webkit-transition: height .3s;
          transition: height .3s;
        }
        .kt-portlet .kt-portlet__head1 .kt-portlet__head-label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-line-pack: flex-first;
          align-content: flex-first;
        }
        .kt-portlet .kt-portlet__head1 .kt-portlet__head-label .kt-portlet__head-title {
          margin: 0;
          padding: 0;
          font-size: 0.9rem;
          font-weight: 800;
          color: #303031;
          line-height: 1.2;
          letter-spacing: 0.2em;
          text-transform: uppercase!important;
        }
        .kt-portlet .kt-portlet__head {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: relative;
          padding: 0 25px;
          min-height: 60px;
        }
        .kt-portlet .kt-portlet__head {
          -webkit-transition: left .3s,right .3s,height .3s;
          transition: left .3s,right .3s,height .3s;
        }
        .kt-portlet .kt-portlet__head {
          -webkit-transition: height .3s;
          transition: height .3s;
        }
        .kt-portlet .kt-portlet__head .kt-portlet__head-label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-line-pack: flex-first;
          align-content: flex-first;
        }
        .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
          margin: 0;
          padding: 0;
          font-size: 1rem;
          font-weight: 500;
          color: #4680ff;
          line-height: 1.2;
        }
        .kt-portlet .kt-portlet__head .kt-portlet__head-toolbar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: end;
            align-content: flex-end;
        }
        .kt-portlet .kt-portlet__head .kt-portlet__head-toolbar .kt-portlet__head-title {
          margin: 0;
          padding: 0;
          font-size: 0.8rem;
          font-weight: 500;
          color: #48465b;
          line-height: 1.2;
        }
        .kt-portlet .kt-portlet__body {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 25px;
          border-radius: 4px;
        }
        .acc-card {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid #ebedf2;
          border-radius: .25rem;
        }
        .accordion .acc-card {
          overflow: visible!important;
          margin: 0;
        }
        .accordion>.card:not(:last-of-type) {
          border-bottom: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .accordion.accordion-light .acc-card {
          border: 0;
          margin: 0;
        }
        .accordion.accordion-light .acc-card:first-child {
          border-top: 0;
        }
        .acc-card-header:first-child {
          border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }
        .accordion>.acc-card>.acc-card-header {
          border-radius: 0;
          margin-bottom: -1px;
        }
        .accordion .acc-card .acc-card-header {
          cursor: pointer;
          margin: 0;
          padding: 0;
          border-bottom: 0;
        }
        .accordion.accordion-light .acc-card .acc-card-header {
          cursor: pointer;
          padding: 0;
          margin: 0;
          background-color: transparent;
          border: 0;
        }
        .accordion.accordion-light .acc-card:first-child .acc-card-header {
          margin: 0;
        }
        .accordion .acc-card .acc-card-header .acc-card-title {
          margin: 0;
          font-size: 0.9rem;
          font-weight: 500;
          padding: 1rem 1rem;
          color: #4680ff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .accordion .acc-card .acc-card-header .acc-card-title.collapsed {
          color: #595d6e;
        }
        .accordion.accordion-light .acc-card .acc-card-header .acc-card-title {
          margin: 0;
          font-size: 16px;
          padding: 1rem 1rem 1rem 0;
          font-weight: 500;
          color: #4680ff;
        }
        .accordion.accordion-toggle-arrow .acc-card .acc-card-header .acc-card-title {
          color: #4680ff;
          position: relative;
        }
        .accordion.accordion-light .acc-card .acc-card-header .acc-card-title.collapsed {
          color: #74788d;
        }
        .accordion.accordion-toggle-arrow .acc-card .acc-card-header .acc-card-title.collapsed {
          color: #74788d;
        }
        .accordion .acc-card .acc-card-header .acc-card-title:after {
          right: 1rem;
        }
        .accordion.accordion-light .acc-card .acc-card-header .acc-card-title:after {
          right: 0;
        }
        .accordion.accordion-toggle-arrow .acc-card .acc-card-header .acc-card-title:after {
          position: absolute;
          font-size: 0.9rem;
          font-family: "Font Awesome 5 Free";
          text-decoration: inherit;
          text-rendering: optimizeLegibility;
          text-transform: none;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          content: "\f078";
          font-weight: 900;
          color: #4680ff;
        }
        .accordion.accordion-light .acc-card .acc-card-header .acc-card-title.collapsed:after {
          color: #74788d;
        }
        .accordion.accordion-toggle-arrow .acc-card .acc-card-header .acc-card-title.collapsed:after {
          color: #74788d;
          content: "\f054";
        }
        .acc-card-body {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          min-height: 1px;
          padding: 1.25rem;
        }
        .accordion.accordion-light .acc-card .acc-card-body {
          padding: 0;
          margin-bottom: 1.25rem;
          font-size: 1rem;
        }
        .kt-widget5 .kt-widget5__block {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border: 1px solid #ebedf2;
          padding: 15px;
          border-radius: 10px;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item .kt-widget5__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item .kt-widget5__content:last-child {
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          text-align: right;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding-left: 1rem;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item .kt-widget5__content .kt-widget5__stats {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item .kt-widget5__content .kt-widget5__stats:first-child {
          padding-right: 1rem;
          border-right: 1px solid #4680ff;
          border-left: 1px solid #4680ff;
        }
        .kt-widget5 .kt-widget5__block .kt-widget5__item .kt-widget5__content .kt-widget5__stats .kt-widget5__number {
          font-size: 1.3rem;
          font-weight: 500;
          color: #595d6e;
        }
        .input-append .add-on, .input-prepend .add-on {
          display: inline-block;
          width: auto;
          height: 20px;
          min-width: 16px;
          padding: 2px 5px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          text-shadow: 0 1px 0 #fff;
          background-color: #fff;
          border: 1px solid transparent;
          margin-top: 4px;
        }
        [class^=icon-], [class*=" icon-"] {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin-top: 1px;
          margin-right: .3em;
          line-height: 14px;
          vertical-align: text-top;
          background-image: url(https://www.malot.fr/bootstrap-datetimepicker/img/glyphicons-halflings.png);
          background-position: 14px 14px;
          background-repeat: no-repeat;
        }
        .input-append, .input-prepend {
          margin-bottom: 5px;
          font-size: 0;
          white-space: nowrap;
        }
        .input-append input, .input-append select, .input-append .uneditable-input {
          -webkit-border-radius: 4px 0 0 4px;
          -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
        }
        .input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
          position: relative;
          margin-bottom: 0;
          *margin-left: 0;
          vertical-align: top;
          -webkit-border-radius: 0 4px 4px 0;
          -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
        }

        .input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
          font-size: 14px;
        }
        input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
          cursor: not-allowed;
          background-color: #eee;
        }
        .input-append .add-on, .input-append .btn, .input-append .btn-group {
          margin-left: -1px;
        }
        .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle {
          vertical-align: top;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
        .icon-th {
          background-position: -240px 0;
        }
        .icon-remove {
          background-position: -312px 0;
        }
        .date-form-control {
          padding: 0.4rem 0.8rem;
          font-size: 0.9rem;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          border: 1px solid transparent !important;
          border-radius: 2rem;
          -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          cursor: default !important;
        }
        .input-append {
          border: 0px solid transparent;
          border-radius: 2rem;
          height: 34px !important;
        }
        .input-append.form_datetime .date-form-control {
          cursor: default !important;
          background-color: #fff !important;
          height: 31px !important;
          width: 93%;
          border: 1px solid #ced4da;
          border-radius: 2rem 0px 0px 2rem;
          outline: 0px !important;
          padding-left: 12px;
        }
        .datetimepicker {
          width: 265px;
          padding: 10px;
          left: auto
        }
        .datetimepicker.datetimepicker-orient-top {
          margin-top: 8px
        }
        .datetimepicker table {
          width: 100%
        }
        .datetimepicker td,
        .datetimepicker th {
          width: 35px;
          height: 35px;
          border-radius: 3px;
          font-weight: 400
        }
        .datetimepicker thead th i {
          font-size: 1.2rem
        }
        .datetimepicker thead th.next,
        .datetimepicker thead th.prev,
        .datetimepicker thead th.switch {
          color: #74788d;
          font-weight: 500
        }
        .datetimepicker thead th.next .glyphicon,
        .datetimepicker thead th.prev .glyphicon,
        .datetimepicker thead th.switch .glyphicon {
          color: #74788d
        }
        .datetimepicker thead th.next:hover,
        .datetimepicker thead th.prev:hover,
        .datetimepicker thead th.switch:hover {
          background: #f7f8fa!important
        }
        .datetimepicker thead th.dow {
          font-weight: 500;
          color: #595d6e
        }
        .datetimepicker thead th.next>span,
        .datetimepicker thead th.prev>span {
          display: inline-block;
          font: normal normal normal 16px/1 LineAwesome;
          font-size: inherit;
          text-decoration: inherit;
          text-rendering: optimizeLegibility;
          text-transform: none;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
          font-size: 1.2rem
        }
        .datetimepicker thead th.next>span:before {
          content: "\f112"
        }
        .datetimepicker thead th.prev>span:before {
          content: "\f111"
        }
        .datetimepicker tbody tr>td span {
          color: #595d6e
        }
        .datetimepicker tbody tr>td.day {
          color: #595d6e
        }
        .datetimepicker tbody tr>td.day:hover {
          background: #f7f8fa
        }
        .datetimepicker tbody tr>td.day.old {
          color: #74788d
        }
        .datetimepicker tbody tr>td.day.new {
          color: #595d6e
        }
        .datetimepicker tbody tr>td.day.active,
        .datetimepicker tbody tr>td.day.selected {
          background: #4680ff;
          color: #fff
        }
        .datetimepicker tbody tr>td.day.today {
          position: relative;
          background: rgba(93, 120, 255, .7)!important;
          color: #fff!important
        }
        .datetimepicker tbody tr>td.day.today:before {
          content: '';
          display: inline-block;
          border: solid transparent;
          border-width: 0 0 7px 7px;
          border-bottom-color: #fff;
          border-top-color: #ebedf2;
          position: absolute;
          bottom: 4px;
          right: 4px
        }
        .datetimepicker tbody tr>td.day.range {
          background: #f7f8fa
        }
        .datetimepicker tbody tr>td span.hour,
        .datetimepicker tbody tr>td span.minute,
        .datetimepicker tbody tr>td span.month,
        .datetimepicker tbody tr>td span.year {
          color: #595d6e
        }
        .datetimepicker tbody tr>td span.hour.focused,
        .datetimepicker tbody tr>td span.hour:hover,
        .datetimepicker tbody tr>td span.minute.focused,
        .datetimepicker tbody tr>td span.minute:hover,
        .datetimepicker tbody tr>td span.month.focused,
        .datetimepicker tbody tr>td span.month:hover,
        .datetimepicker tbody tr>td span.year.focused,
        .datetimepicker tbody tr>td span.year:hover {
          background: #f7f8fa
        }
        .datetimepicker tbody tr>td span.hour.active,
        .datetimepicker tbody tr>td span.hour.active:hover,
        .datetimepicker tbody tr>td span.minute.active,
        .datetimepicker tbody tr>td span.minute.active:hover,
        .datetimepicker tbody tr>td span.month.active,
        .datetimepicker tbody tr>td span.month.active:hover,
        .datetimepicker tbody tr>td span.year.active,
        .datetimepicker tbody tr>td span.year.active:hover {
          background: #4680ff;
          color: #fff
        }
        .datetimepicker tfoot tr>th.clear,
        .datetimepicker tfoot tr>th.today {
          border-radius: 3px;
          font-weight: 500
        }
        .datetimepicker tfoot tr>th.clear:hover,
        .datetimepicker tfoot tr>th.today:hover {
          background-color: #f7f8fa
        }
        .datetimepicker.datetimepicker-inline {
          border: 1px solid #f7f8fa
        }
        .page {
          position: relative;
          min-height: -webkit-calc(100% - 44px);
          min-height: calc(100% - 44px);
          background: #f1f4f5;
        }
        /* .page-content {
          padding: 30px 30px;
        } */
        .panel-invoice {
          position: relative;
          margin-bottom: 2.143rem;
          background-color: #fff;
          border: 0 solid transparent;
          border-radius: 0px;
        }
        .panel-invoice>:not(.panel-invoice-loading):not(.collapsing) {
          -webkit-transition: opacity .3s;
          -o-transition: opacity .3s;
          transition: opacity .3s;
        }

        .panel-invoice-body {
          position: relative;
          padding: 0px 0px;
        }
        .page-invoice-table {
          margin-top: 40px;
          margin-bottom: 20px;
        }
        .page-invoice-amount {
          padding-top: 10px;
          margin-bottom: 40px;
          font-size: 20px;
          border-top: 1px solid #e0e0e0;
        }
        .form-control-sm, .form-control {
            border-radius: 0px !important;
        }
        .page-item:first-child .page-link {
            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
        }
        .page-item:last-child .page-link {
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
        }
        
        .btn-xl-shadow {
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;
            position: relative !important;
            cursor: pointer !important;
            display: inline-block;
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
            -webkit-tap-highlight-color: transparent !important;
            vertical-align: middle !important;
            z-index: 1 !important;
            will-change: opacity, transfor !important;
            -webkit-transition: all 0.3s ease-out !important;
            -moz-transition: all 0.3s ease-out !important;
            -o-transition: all 0.3s ease-out !important;
            -ms-transition: all 0.3s ease-out !important;
            transition: all 0.3s ease-out !important;
            letter-spacing: .5px !important;
            border: none !important;
            border-radius: 6px !important;
            height: 34px !important;
            line-height: 34px !important;
            outline: 0 !important;
            padding: 0 1.8rem !important;
        }
      .switchcheck {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switchcheck input { 
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      .btn-ideal {
          display: inline-block;
          font-weight: 400;
          color: #212529;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: transparent;
          border: 1px solid transparent;
          padding: .65rem 1rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: .25rem;
          -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      }
      .btn-group-sm>.btn-ideal, .btn-ideal-sm {
          padding: .5rem 1rem;
          font-size: .875rem;
          line-height: 1.5;
          border-radius: .2rem;
      }
      .btn-ideal {
          background: 0 0;
          outline: 0!important;
          vertical-align: middle;
      }
      .btn-ideal {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
      }
      .btn-ideal.btn-font-sm {
          font-size: .85rem;
      }
      .btn-ideal.btn-label-success {
          background-color: rgba(10,187,135,.1);
          color: #0abb87;
          cursor: text!important;
      }
      .btn-ideal.btn-label-danger {
          background-color: rgba(253,57,122,.1);
          color: #fd397a;
          cursor: text!important;
      }
      .btn-ideal.btn-label-info {
          background-color: rgba(85,120,235,.1);
          color: #5578eb;
          cursor: text!important;
      }
      .btn-ideal.btn-label-primary {
          background-color: rgba(88,103,221,.1);
          color: #4680ff;
          cursor: text!important;
      }
      .btn-ideal.btn-label-brand {
          background-color: rgba(93,120,255,.1);
          color: #5d78ff;
          cursor: text!important;
      }
      .btn-ideal.btn-label-warning {
          background-color: rgba(255,184,34,.1);
          color: #ffb822;
          cursor: text!important;
      }
      .kt-datatable__cell>span {
          color: #303031;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          visibility: visible;
      }
      .kt-user-card-v2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0;
          margin: 0;
      }
      .kt-user-card-v2 .kt-user-card-v2__pic {
          padding-right: .5rem;
      }
      .kt-user-card-v2 .kt-user-card-v2__pic img {
          border-radius: 50%;
          max-width: 40px;
          max-height: 40px;
      }
      .kt-user-card-v2 .kt-user-card-v2__details {
          line-height: 0;
          font-size: 1rem;
      }
      .kt-user-card-v2 .kt-user-card-v2__details .kt-user-card-v2__name {
          display: block;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
          -webkit-transition: color .3s ease;
          transition: color .3s ease;
          color: #303031;
      }
      .kt-badge {
          padding: 0;
          margin: 0;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          font-size: .8rem;
      }
      .kt-user-card-v2 .kt-user-card-v2__details .kt-user-card-v2__desc, 
      .kt-user-card-v2 .kt-user-card-v2__details .kt-user-card-v2__email {
          margin-top: 3px;
          display: inline-block;
          font-size: .9rem;
          line-height: 1rem;
          font-weight: 400;
          color: #74788d;
      }
      .kt-user-card-v2 .kt-user-card-v2__pic .kt-badge {
          width: 40px;
          height: 40px;
      }
      .kt-badge.kt-badge--success {
          color: #fff;
          background: #0abb87;
      }
      .kt-badge.kt-badge--warning {
          color: #111;
          background: #ffb822;
      }
      .kt-badge.kt-badge--info {
          color: #fff;
          background: #5578eb;
      }
      .kt-badge.kt-badge--primary {
          color: #fff;
          background: #4680ff;
      }
      @media (max-width: 1024px) {
        .kt-user-card-v2 .kt-user-card-v2__pic img {
            max-width: 30px;
            max-height: 30px;
        }
        .kt-user-card-v2 .kt-user-card-v2__pic .kt-badge {
            width: 30px;
            height: 30px;
        }
      }
      label.input-toggle {
        line-height: 0;
        font-size: 0;
        display: inline-block;
        margin: 0;
      }

      label.input-toggle > span {
        display: inline-block;
        position: relative;
        background-image: -webkit-linear-gradient(left, #848484 0%, #848484 50%, #4680ffa3 50%, #4680ffa3 100%);
        background-image: linear-gradient(to right, #848484 0%, #848484 50%, #4680ffa3 50%, #4680ffa3 100%);
        background-size: 64px 14px;
        background-position: 0%;
        border-radius: 32px;
        width: 32px;
        height: 14px;
        cursor: pointer;
        -webkit-transition: background-position 0.2s ease-in;
        transition: background-position 0.2s ease-in;
      }

      label.input-toggle > input:checked + span { background-position: -100%; }

      label.input-toggle > span:after {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        background: #F1F1F1;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
        transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
        transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
        transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
      }

      label.input-toggle > input:checked + span:after {
        left: calc(100% - 18px);
        background-color: #4680ff;
      }

      label.input-toggle > span:active:after {
        -webkit-transform: translateY(-50%) scale3d(1.15, 0.85, 1);
        transform: translateY(-50%) scale3d(1.15, 0.85, 1);
      }

      label.input-toggle > input:disabled + span:active:after {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      label.input-toggle > input:disabled + span { cursor: default; }

      label.input-toggle > input:disabled + span { background: #D5D5D5; }

      label.input-toggle > input:disabled + span:after { background: #BDBDBD; }

      label.input-toggle > input {
        display: block;
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      .table td, .table th {
          vertical-align: middle !important;
      }
      .md-list, .md-list *, .md-list :after, .md-list :before, .md-list:after, .md-list:before {
          box-sizing: border-box;
      }
      .md-list {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      .md-list-addon>li {
          margin-left: 64px !important;
          position: relative;
      }
      .md-list .uk-nestable-list>li, .md-list>li {
          min-height: 48px;
          padding: 8px 4px !important;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(0,0,0,.12);
          position: relative;
      }
      .md-list>li {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      .md-list-addon>li:first-child .md-list-addon-element {
          top: 8px;
          opacity: 0.7;
      }
      .md-list-addon-element {
          position: absolute;
          left: -64px;
          top: 8px;
          bottom: -1px;
          width: 64px;
          text-align: center;
          padding: 8px 0;
          display: block;
          opacity: 0.7;
      }
      .md-list-addon-element>.material-icons {
          margin-top: 6px;
      }
      .md-list-addon-element>.md-list-addon-icon {
          font-size: 24px;
          margin-top: 4px;
          color: rgba(0,0,0,0.87);
          opacity: 0.9;
      }
      .md-list .uk-nestable-list>li>.md-list-content, .md-list>li>.md-list-content {
          overflow: hidden;
          opacity: 0.9;
      }
      .md-list .uk-nestable-list>li>.md-list-content .md-list-heading, .md-list>li>.md-list-content .md-list-heading {
          margin: 0;
          font-weight: 600;
          display: block;
          overflow: hidden;
          padding-bottom: 1px;
      }
      .md-list .uk-nestable-list>li>.md-list-content>span, .md-list>li>.md-list-content>span {
          display: block;
      }
      .user-modal-details-heading {
          font-size: 15px;
          font-weight: 600;
          line-height: 28px;
          margin: 0;
          margin-bottom: 20px;
          padding-right: 14px;
          position: relative;
      }
      .user-details-block {
          display: table;
          table-layout: fixed;
          width: 100%;
      }
      .user-block-start {
          display: table;
          table-layout: fixed;
          width: 100%;
      }
      .user-block-items {
          display: table-row;
          padding: 6px 0;
      }
      .user-block-items:first-child .user-left-icons-img {
          opacity: 1;
      }
      .user-lists:first-child {
          padding-left: 0;
      }
      /* .user-block-start .user-left-icons-img {
          opacity: 0;
      } */
      .user-left-icons-img {
          text-align: center;
          width: 60px;
      }
      .user-lists {
          display: table-cell;
          padding: 10px 0;
          text-overflow: ellipsis;
          vertical-align: top;
      }
      .user-lists:last-child {
          padding-right: 0;
      }
      .user-right-text {
          padding-left: 0px !important;
      }
      .user-lists i {
        font-size: 18px;
          opacity: 0.7;
      }
      .SiTyAd {
          color: #666;
          font-size: 12px;
      }
      .details-right {
        padding: 0px 2px;
          font-size: 13px;
          text-decoration: none !important;
          color: #4680ff;
      }
      .input-group-addon {
          padding: 6px 20px 6px 12px;
      }    
      .syjn9:first-child .user-settings-left {
          visibility: visible;
      }
      .syjn9 .user-settings-left {
          visibility: hidden;
      }
      .user-settings-left {
          letter-spacing: normal;
          text-rendering: optimizeLegibility;
          text-transform: none;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
          margin-left: 25px;
          margin-right: 15px;
          margin-top: 16px;
          opacity: .6;
          text-align: center;
          width: 60px;
      }
      .user-settings-left img {
        border-radius: 50% !important;
          width: 80px;
      }
      .user-settings-left i.icon {
        font-size: 24px;
      }
      .form-group.form-md-line-input.details-form {
          padding-top: 0px;
          margin: 0 0 5px;
      }
      .form-group.form-md-line-input.details-form-1 {
          padding-top: 10px;
          margin: 0 0 5px;
      }
      .user-lists {
          padding-top: 10px;
      }
      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .middle {
          transition: .5s ease;
          opacity: 0;
        position: absolute;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          padding-left: 20px;
        width: 40px;
        top: 21%;
        left: 4.5%;
      }

      .user-lists:hover .image {
        opacity: 0.3;
      }

      .user-lists:hover .middle {
        opacity: 1;
      }
      .kt-avatar {
          position: relative;
          display: inline-block;
      }
      .kt-avatar .kt-avatar__holder {
          width: 120px;
          height: 120px;
          border-radius: 3px;
          background-repeat: no-repeat;
          background-size: cover;
      }
      .kt-avatar.kt-avatar--outline .kt-avatar__holder {
          border: 3px solid #fff;
          -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
          box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
      }
      .kt-avatar .kt-avatar__upload {
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          position: absolute;
          right: -10px;
          top: -10px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
          box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
          -webkit-transition: all .3s;
          transition: all .3s;
      }
      .kt-avatar .kt-avatar__upload i {
          color: #4680ff;
          font-size: .9rem;
      }
      .kt-avatar .kt-avatar__upload input {
          width: 0 !important;
          height: 0 !important;
          overflow: hidden;
          opacity: 0;
      }
      .kt-avatar .kt-avatar__cancel {
          cursor: pointer;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          position: absolute;
          top: auto;
          right: -10px;
          bottom: -5px;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #fff;
          -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
          box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
          display: none;
      }
      .kt-avatar .kt-avatar__cancel i {
          -webkit-transition: all .3s;
          transition: all .3s;
          color: #74788d;
          font-size: .9rem;
      }
      table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
          top: 19px !important;
          left: 4px !important;
          height: 17px !important;
          width: 17px !important;
          display: block;
          position: absolute;
          color: white;
          border: 2px solid white;
          border-radius: 14px;
          box-shadow: 0 0 3px #444;
          box-sizing: content-box;
          text-align: center;
          text-indent: 0 !important;
          /* font-family: 'Courier New', Courier, monospace; */
          line-height: 17px !important;
          content: '+';
          background-color: #4680ff ;
      }
  </style>
  </head>
  <body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show">
      <span class="spinner"></span>
    </div>
	  <!-- end #page-loader -->
    <span id="page-container" class="fade">
      <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
            <a href="javascript:void(0)" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
                <i class="fas fa-align-left"></i>
            </a>
            <a href="/app/dashboard" class="navbar-brand font-weight-bold text-uppercase text-base">
              <img src="/../static/assets/img/logo-3.svg" 
              alt="Ideal Steel Logo" style="width: 30px;" class="img-fluid">IDEAL STEEL
            </a>
            <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
                <li class="nav-item dropdown ml-auto">
                    <a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                        <img src="/../static/assets/img/avatar-6.jpg" 
                            alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow">
                    </a>
                    <div aria-labelledby="userInfo" class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                        <strong class="d-block text-uppercase headings-font-family">Mark Stephen</strong><small>Web Developer</small></a>
                        <div class="dropdown-divider"></div><a href="javascript:void(0)" class="dropdown-item">Profile</a>
                        <div class="dropdown-divider"></div><a href="/app/login" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
      </header>
      <div class="d-flex align-items-stretch">
          <div id="sidebar" class="sidebar py-3" style="margin-bottom: 50px;">
              <!-- <div class="text-gray-500 px-3 px-lg-4 py-4 font-weight-bold">MAIN</div> -->
              <ul class="sidebar-menu list-unstyled">
                  <li class="sidebar-list-item">
                      <a {% block nav_dashboard%}{% endblock %} href="{% url 'dashboard' %}" class="sidebar-link text-muted">
                          <i class="mdi mdi-file-chart" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a {% block nav_customers%}{% endblock %} href="{% url 'customers' %}" class="sidebar-link text-muted">
                        <i class="mdi mdi-account-card-details fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                        <span>Customers</span>
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a {% block nav_users%}{% endblock %} href="{% url 'users' %}" class="sidebar-link text-muted">
                        <i class="mdi mdi-account fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                        <span>Users</span>
                    </a>
                  </li>
                  <!-- <li class="sidebar-list-item">
                      <a {% block nav_addenquiry%}{% endblock %} href="{% url 'add_enquiry' %}" class="sidebar-link text-muted">
                          <i class="fas fa-file-medical fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>Add Enquiries</span>
                      </a>
                  </li> -->
                  <li class="sidebar-list-item">
                      <a {% block nav_enquiries%}{% endblock %} href="{% url 'enquiries' %}" class="sidebar-link text-muted">
                          <i class="mdi mdi-file fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>Enquiries</span>
                      </a>
                  </li>
                  <li class="sidebar-list-item">
                      <a {% block nav_vieworders%}{% endblock %} href="{% url 'view_orders' %}" class="sidebar-link text-muted">
                          <i class="mdi mdi-eye fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>View Orders</span>
                      </a>
                  </li>
                  <li class="sidebar-list-item">
                      <a {% block nav_listorders%}{% endblock %} href="{% url 'list_orders' %}" class="sidebar-link text-muted">
                          <i class="mdi mdi-view-list fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>List Orders</span>
                      </a>
                  </li>
                  <!-- <li class="sidebar-list-item">
                      <a {% block nav_invoice%}{% endblock %} href="{% url 'invoice' %}" class="sidebar-link text-muted">
                          <i class="fas fa-file-invoice fa-sm" aria-hidden="true" style="margin-right: 0.5rem !important;line-height: 1.3;"></i>
                          <span>Invoice</span>
                      </a>
                  </li> -->
              </ul>
          </div>
          <div class="page-holder w-100 d-flex flex-wrap" style="margin-bottom: 50px;">
            <div class="container-fluid px-xl-5">
              {% block content %}
              {% endblock %}
            </div>
          </div>
          <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100" style="position:absolute;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 text-center text-md-left text-primary">
                  <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
                </div>
                <div class="col-md-6 text-center text-md-right text-gray-400">
                  <p class="mb-0">Powered by <a href="https://google.com" class="external text-gray-500">ClouLab Solution</a></p>
                </div>
              </div>
            </div>
          </footer>
      </div>
  </span>
  </body>
  <script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/../static/assets/vendor/popper.js/umd/popper.min.js"> </script>
  <script src="/../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/../static/assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  <script src="https://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?t=20130302" type="text/javascript"></script>
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="/../static/assets/js/gritter/jquery.gritter.js"></script>
  <script src="/../static/assets/js/front.js"></script>
  <script src="/../static/assets/js/pace.min.js"></script>
  <script>
        $(document).ready(function(){
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    };
                }
            });
        });
        $(document).ready(function() {
          $(".form_datetime").datetimepicker({
              format: "dd MM yyyy - HH:ii P",
              showMeridian: true,
              autoclose: true,
              todayBtn: true,
              pickerPosition: "bottom-left"
          });
        });
	</script>
</html>