
{% extends "base.html" %}
{% block nav_customers%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
<section class="pt-4 pb-4">
    <div class="card mb-5 mb-lg-0">        
        <div class="card-header">
            <div class="header-left">
                <h2 class="h6 mb-0">All Customers</h2>
            </div>
            <div class="actions-right">
                <a href="javascript:;" class="btn btn-primary f-w-600 btn-xl-shadow" data-toggle="modal" data-target="#addCustomer">
                    Add Customers
                </a>
            </div>
        </div>
        <div class="card-body">
            <table id="company1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Email</th>
                        <th>Mobile No.</th>
                        <th>Phone No.</th>
                        <th>Address </th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="kt-user-card-v2">
                                <div class="kt-user-card-v2__pic">
                                    <img alt="photo" src="/../static/assets/img/3.png">
                                </div>
                            </div>
                        </td>
                        <td class="kt-datatable__cell">
                            <span style="width: 130px;">
                                <div class="kt-user-card-v2">
                                    <div class="kt-user-card-v2__details">
                                        <a class="kt-user-card-v2__name" href="javascript:;">
                                            Nexa 
                                        </a>									
                                        <span class="kt-user-card-v2__desc">
                                            Creates Limitless steel
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>Type</td>
                        <td>saas@nexa.com</td>
                        <td>+91 96348 34887</td>
                        <td>+91 89794 59824</td>
                        <td>Bangalore, Karnataka, India</td>
                        <td>
                            <label class="input-toggle">
                                <input type="checkbox" class="statuschange">
                                <span></span> 
                            </label>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="View Company Details">
                                <a href="javascript:;" data-toggle="modal" data-target="#viewCompanyModal">
                                    <i class="fas fa-eye mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Reset Password">
                                <a href="javascript:;" data-toggle="modal" data-target="#passwordModal">
                                    <i class="fas fa-sync-alt mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Edit Company">
                                <a href="javascript:;" data-toggle="modal" data-target="#editUserModal">
                                    <i class="fas fa-pen mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Delete Company">
                                <a href="javascript:;" class="delete-action-company">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="kt-user-card-v2">
                                <div class="kt-user-card-v2__pic">
                                    <img alt="photo" src="/../static/assets/img/4.png">
                                </div>
                            </div>
                        </td>
                        <td class="kt-datatable__cell">
                            <span style="width: 130px;">
                                <div class="kt-user-card-v2">
                                    <div class="kt-user-card-v2__details">
                                        <a class="kt-user-card-v2__name" href="javascript:;">
                                            B & Q
                                        </a>									
                                        <span class="kt-user-card-v2__desc">
                                            Steel Company
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>Type</td>
                        <td>steel@bandq.com</td>
                        <td>+91 83445 90312</td>
                        <td>+91 91512 76124</td>
                        <td>Bangalore, Karnataka, India</td>
                        <td>
                            <label class="input-toggle">
                                <input type="checkbox" checked  class="statuschange">
                                <span></span> 
                            </label>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="View Company Details">
                                <a href="javascript:;" data-toggle="modal" data-target="#viewCompanyModal">
                                    <i class="fas fa-eye mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Reset Password">
                                <a href="javascript:;" data-toggle="modal" data-target="#passwordModal">
                                    <i class="fas fa-sync-alt mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Edit Company">
                                <a href="javascript:;" data-toggle="modal" data-target="#editUserModal">
                                    <i class="fas fa-pen mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Delete Company">
                                <a href="javascript:;" class="delete-action-company">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="kt-user-card-v2">
                                <div class="kt-user-card-v2__pic">
                                    <img alt="photo" src="/../static/assets/img/5.png">
                                </div>
                            </div>
                        </td>
                        <td class="kt-datatable__cell">
                            <span style="width: 130px;">
                                <div class="kt-user-card-v2">
                                    <div class="kt-user-card-v2__details">
                                        <a class="kt-user-card-v2__name" href="javascript:;">
                                            Citrix
                                        </a>									
                                        <span class="kt-user-card-v2__desc">
                                            Steel Provider
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </td>
                        <td>Type</td>
                        <td>user@citrix.com</td>
                        <td>+91 94144 56565</td>
                        <td>+91 93263 87878</td>
                        <td>Bangalore, Karnataka, India</td>
                        <td>
                            <label class="input-toggle">
                                <input type="checkbox" checked class="statuschange">
                                <span></span> 
                            </label>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="View Company Details">
                                <a href="javascript:;" data-toggle="modal" data-target="#viewCompanyModal">
                                    <i class="fas fa-eye mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Reset Password">
                                <a href="javascript:;" data-toggle="modal" data-target="#passwordModal">
                                    <i class="fas fa-sync-alt mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Edit Company">
                                <a href="javascript:;" data-toggle="modal" data-target="#editUserModal">
                                    <i class="fas fa-pen mr-1"></i>
                                </a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Delete Company">
                                <a href="javascript:;" class="delete-action-company">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="viewCompanyModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="kt-user-card-v2">
                            <div class="kt-user-card-v2__pic">
                                <img alt="photo" src="/../static/assets/img/3.png">
                            </div>
                            <div class="kt-user-card-v2__details">
                                <a class="kt-user-card-v2__name" href="javascript:;">
                                    Nexa - Next generation SAAS
                                </a>									
                                <span class="kt-user-card-v2__desc">
                                    Creates Limitless possibilities
                                </span>
                            </div>
                        </div>
                        <!-- <h4 id="exampleModalLabel" class="modal-title">Signin Modal</h4> -->
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-user">
                        <div class="user-modal-details-heading">Company details</div>
                        <ul class="md-list md-list-addon">
                            <!-- <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-account-outline"></i>
                                </div>
                                <div class="md-list-content user-role-info-modal">
                                    <span class="md-list-heading">Admin</span>
                                    <span class="uk-text-small uk-text-muted">Role</span>
                                </div>
                            </li> -->
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-account-card-details"></i>
                                </div>
                                <div class="md-list-content user-name-info-modal">
                                    <span class="md-list-heading">nexa</span>
                                    <span class="uk-text-small uk-text-muted">Company type</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-email"></i>
                                </div>
                                <div class="md-list-content user-email-info-modal">
                                    <span class="md-list-heading">saas@nexa.com</span>
                                    <span class="uk-text-small uk-text-muted">Email</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-phone"></i>
                                </div>
                                <div class="md-list-content user-mobile-info-modal">
                                    <span class="md-list-heading">+91 96348 34887</span>
                                    <span class="uk-text-small uk-text-muted">Mobile No.</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-phone"></i>
                                </div>
                                <div class="md-list-content user-mobile-info-modal">
                                    <span class="md-list-heading">+91 89794 59824</span>
                                    <span class="uk-text-small uk-text-muted">Phone No.</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-calendar"></i>
                                </div>
                                <div class="md-list-content user-date-added-info-modal">
                                    <span class="md-list-heading">01/27/2020</span>
                                    <span class="uk-text-small uk-text-muted">Date Added</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons mdi mdi-hospital-building"></i>
                                </div>
                                <div class="md-list-content user-date-added-info-modal">
                                    <span class="md-list-heading">Bangalore, Karnataka, India</span>
                                    <span class="uk-text-small uk-text-muted">Address</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-xl-shadow">Close</button>
                        <!-- <button type="button" class="btn btn-primary btn-xl-shadow">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="exampleModalLabel" class="modal-title">Reset Password</h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-user">
                        <div class="user-details-block">
                            <div class="user-block-start">
                                <!-- <div class="user-block-items">
                                    <div class="user-lists user-left-icons-img user-settings-left">
                                        <i class="icon mdi mdi-account-key"></i>
                                    </div>
                                    <div class="user-lists user-right-text">
                                        <div class="form-group form-md-line-input details-form reset-user-name"><input type="text" class="form-control input-sm resetusername-user" id="user-name-reset" placeholder="" value="test_appuser" disabled=""><label for="user-name-reset"></label></div>
                                    </div>
                                </div> -->
                                <div class="user-block-items">
                                    <div class="user-lists user-left-icons-img user-settings-left" style="padding-top: 20px;">
                                        <i class="icon mdi mdi-lock"></i>
                                    </div>
                                    <div class="user-lists user-right-text" style="padding-top: 20px;">
                                        <div class="form-group form-md-line-input details-form">
                                            <label class="f-s-12 f-w-600" for="edit-password" style="position: absolute;margin-top: -26px;">Password</label>
                                            <div class="input-append input-group">
                                                <input type="password" id="edit-password" 
                                                class="form-control resetuserpassword" name="password" 
                                                data-toggle="password" data-parsley-required="true" 
                                                data-parsley-error-message="The password is required and must 
                                                contain atleast eight characters" data-parsley-length="[8, 16]" 
                                                placeholder="●●●●●●●●●●" required="" data-parsley-id="3388">
                                                
                                                <input type="text" class="form-control resetuserpassword" 
                                                placeholder="●●●●●●●●●●" style="display: none;">
                                                <span tabindex="100" title="Click here to show/hide password" 
                                                class="add-on input-group-addon" style="cursor: pointer;">
                                                <i class="fas fa-eye fa-lg"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-block-items">
                                    <div class="user-lists user-left-icons-img user-settings-left" style="padding-top: 40px;">
                                        <i class="icon mdi mdi-lock"></i>
                                    </div>
                                    <div class="user-lists user-right-text" style="padding-top: 40px;">
                                        <div class="form-group form-md-line-input form-md-floating-label details-form">
                                            <label class="f-s-12 f-w-600" for="edit-confirmpassword" 
                                            style="position: absolute;margin-top: -26px;">Confirm
                                                password</label>
                                            <div class="input-append input-group">
                                                <input type="password" id="edit-confirmpassword" class="form-control resetuserpasswordconfirm" name="confirm-password" data-toggle="password" \
                                                data-parsley-equalto="#edit-password" data-parsley-required="true" 
                                                data-parsley-error-message="Please check that you've entered and confirmed your password!" 
                                                placeholder="●●●●●●●●●●" required="" data-parsley-id="4881">
                                                
                                                <input type="text" class="form-control resetuserpasswordconfirm" placeholder="●●●●●●●●●●" 
                                                style="display: none;"><span tabindex="100" 
                                                title="Click here to show/hide password" 
                                                class="add-on input-group-addon" style="cursor: pointer;">
                                                <i class="fas fa-eye fa-lg"></i></span>
                                            </div>
                                            <!-- <span class="help-block">confirm password</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-xl-shadow">Cancel</button>
                        <button type="button" class="btn btn-primary btn-xl-shadow">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="addCustomer" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Company</h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-user">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Company Logo</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_add_avatar">
                                        <div class="kt-avatar__holder" style="background-image: url(/../static/assets/img/company-logo.png)"></div>
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type="file" name="kt_user_add_user_avatar">
                                        </label>
                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Company Name</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" placeholder="Enter Company Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Company Type</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" placeholder="Enter Company Type">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Subtitle</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" placeholder="Enter Subtitle">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div> -->
                                        <input type="text" class="form-control" value="" placeholder="Enter Email" aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Mobile No.</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div> -->
                                        <input type="text" class="form-control" value="" placeholder="Enter Mobile No." aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Phone No.</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div> -->
                                        <input type="text" class="form-control" value="" placeholder="Enter Phone No." aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Address</label>
                                <div class="col-lg-9 col-xl-9">
                                    <textarea class="form-control" type="text" value="" placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-xl-shadow">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-xl-shadow addcompany">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="editUserModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Company</h4>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-user">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Change Logo</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="kt-avatar kt-avatar--outline">
                                        <div class="kt-avatar__holder" style="background-image: url(/../static/assets/img/3.png)"></div>
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input type="file" name="kt_user_add_user_avatar">
                                        </label>
                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Company Name</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" value="Nexa" placeholder="Enter Company Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Company Type</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" value="nexa" placeholder="Enter Company Type">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Subtitle</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" type="text" value="Creates Limitless possibilities" placeholder="Enter Subtitle">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-envelope"></i></span></div> -->
                                        <input type="text" class="form-control" value="saas@nexa.com" placeholder="Enter Email" aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Mobile No.</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div> -->
                                        <input type="text" class="form-control" value="+91 96348 34887" placeholder="Enter Mobile No." aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Phone No.</label>
                                <div class="col-lg-9 col-xl-9">
                                    <!-- <div class="input-group"> -->
                                        <!-- <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div> -->
                                        <input type="text" class="form-control" value="+91 89794 59824" placeholder="Enter Phone No." aria-describedby="basic-addon1">
                                    <!-- </div> -->
                                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Address</label>
                                <div class="col-lg-9 col-xl-9">
                                    <textarea class="form-control" type="text" value="Bangalore, Karnataka, India" placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-xl-shadow">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-xl-shadow editcompany">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
<script>
    $(document).ready(function() {
        $('#company1').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
        
        $('.addcompany').on('click', function () {
            swal({
                title: "Success",
                text: "User Added Succesfully",
                type: "success",
                showCancelButton: false,
                confirmButtonClass: "btn-primary btn-xl-shadow",
                confirmButtonText: "Ok",
            })
        });
        $('.editcompany').on('click', function () {
            swal({
                title: "Success",
                text: "User Edited Succesfully",
                type: "success",
                showCancelButton: false,
                confirmButtonClass: "btn-primary btn-xl-shadow",
                confirmButtonText: "Ok",
            })
        });
        $('.statuschange').on('click', function () {
            swal({
                title: "Success",
                text: "Status Changed Succesfully",
                type: "success",
                showCancelButton: false,
                confirmButtonClass: "btn-primary btn-xl-shadow",
                confirmButtonText: "Ok",
            })
        });
        $('.delete-action-company').on('click', function () {
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this Comapny!",
                type: "warning",
                showCancelButton: true,
                cancelButtonClass: "btn-secondary btn-xl-shadow",
                confirmButtonClass: "btn-danger btn-xl-shadow",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function(){
                swal("Deleted!", "Company has been deleted.", "success");
            });
        });
    });
</script>
{% endblock %}