{% extends "base.html" %}
{% block nav_dashboard%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
<style>
  .icon {
    min-width: 3.2rem;
    max-width: 3.2rem;
    min-height: 3.2rem;
    max-height: 3.2rem;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .icon .fas{
    font-size: 24px;
  }
  .bg-red1 {
      background-color: #fd397a!important;
  }
  .bg-blue1 {
      background-color: #ffb822!important;
  }
  .bg-green1 {
      background-color: #0abb87!important;
  }
  .bg-violet1 {
      background-color: #5d78ff!important;
  }
</style>
<section class="pt-4 pb-2">
  <div class="row">
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="bg-white shadow roundy-10 p-4 h-100 d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-violet1"></div>
          <div class="text">
            <h6 class="mb-0">145,14 GB</h6><span class="text-gray">Data consumed</span>
          </div>
        </div>
        <div class="icon text-white bg-violet1"><i class="fas fa-server"></i></div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="bg-white shadow roundy-10 p-4 h-100 d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-green1"></div>
          <div class="text">
            <h6 class="mb-0">Open cases</h6><span class="text-gray">32</span>
          </div>
        </div>
        <div class="icon text-white bg-green1"><i class="fas fa-clipboard"></i></div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="bg-white shadow roundy-10 p-4 h-100 d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-blue1"></div>
          <div class="text">
            <h6 class="mb-0">Work orders</h6><span class="text-gray">400</span>
          </div>
        </div>
        <div class="icon text-white bg-blue1"><i class="fas fa fa-dolly-flatbed"></i></div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
      <div class="bg-white shadow roundy-10 p-4 h-100 d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-red1"></div>
          <div class="text">
            <h6 class="mb-0">New invoices</h6><span class="text-gray">123</span>
          </div>
        </div>
        <div class="icon text-white bg-red1"><i class="fas fa-receipt"></i></div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pb-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-5 mb-lg-0">         
        <div class="card-header">
          <h2 class="h6 mb-0" style="letter-spacing: 0.1em;">Transaction history</h2>
        </div>
        <div class="card-body">
          <!-- <p class="text-gray mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
          
          <div class="pt-3 pb-2">
            <div id="chart1" style="width: 100%;height: 500px;"></div>
          </div>
          
          <!-- <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
            <div class="left d-flex align-items-center">
              <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div>
              <div class="text">
                <h6 class="mb-0 d-flex align-items-center"> <span>Dropbox Inc.</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">Account renewal</small>
              </div>
            </div>
            <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
              <h5>-$20</h5>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
            <div class="left d-flex align-items-center">
              <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-apple"></i></div>
              <div class="text">
                <h6 class="mb-0 d-flex align-items-center"> <span>App Store.</span><span class="dot dot-sm ml-2 bg-green"></span></h6><small class="text-gray">Software cost</small>
              </div>
            </div>
            <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-green">
              <h5>-$20</h5>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
            <div class="left d-flex align-items-center">
              <div class="icon icon-lg shadow mr-3 text-gray"><i class="fas fa-shopping-basket"></i></div>
              <div class="text">
                <h6 class="mb-0 d-flex align-items-center"> <span>Supermarket.</span><span class="dot dot-sm ml-2 bg-blue"></span></h6><small class="text-gray">Shopping</small>
              </div>
            </div>
            <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-blue">
              <h5>-$20</h5>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
            <div class="left d-flex align-items-center">
              <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-android"></i></div>
              <div class="text">
                <h6 class="mb-0 d-flex align-items-center"> <span>Play Store.</span><span class="dot dot-sm ml-2 bg-red"></span></h6><small class="text-gray">Software cost</small>
              </div>
            </div>
            <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-red">
              <h5>-$20</h5>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <!-- <div class="bg-white shadow roundy-10 px-4 py-3 d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-violet"></div>
          <div class="text">
            <h6 class="mb-0">Completed cases</h6><span class="text-gray">127 new cases</span>
          </div>
        </div>
        <div class="icon bg-violet text-white"><i class="fas fa-clipboard-check"></i></div>
      </div>
      <div class="bg-white shadow roundy-10 px-4 py-3 d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-green"></div>
          <div class="text">
            <h6 class="mb-0">New Quotes</h6><span class="text-gray">214 new quotes</span>
          </div>
        </div>
        <div class="icon bg-green text-white"><i class="fas fa-dollar-sign"></i></div>
      </div>
      <div class="bg-white shadow roundy-10 px-4 py-3 d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="dot mr-3 bg-blue"></div>
          <div class="text">
            <h6 class="mb-0">New clients</h6><span class="text-gray">25 new clients</span>
          </div>
        </div>
        <div class="icon bg-blue text-white"><i class="fas fa-user-friends"></i></div>
      </div> -->
      <div class="card px-2 py-2 mb-2">
               
        <div class="card-header">
          <h2 class="h6 mb-0" style="letter-spacing: 0.1em;">Add heading</h2>
        </div>
        <!-- <h2 class="mb-0 d-flex align-items-center">
          <span>86.4</span>
          <span class="dot bg-red d-inline-block ml-3"></span>
        </h2>
        <span class="text-muted">Server time</span> -->
        <div class="chart-holder">
          <div class="pt-3 pb-2">
            <div id="chart2" style="width: 100%;height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card px-2 py-1">
        <div class="card-header">
          <h2 class="h6 mb-0" style="letter-spacing: 0.1em;">Add heading</h2>
        </div>
        <!-- <h2 class="mb-0 d-flex align-items-center">
          <span>30.4</span>
          <span class="dot bg-red d-inline-block ml-3"></span>
        </h2>
        <span class="text-muted">Total time</span> -->
        <div class="chart-holder">
          <div class="pt-3 pb-1">
            <div id="chart3" style="width: 100%;height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 * 
 * For more information visit:
 * https://www.amcharts.com/
 * 
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chart1", am4charts.XYChart);
chart.scrollbarX = new am4core.Scrollbar();

// Add data
chart.data = [{
  "country": "USA",
  "visits": 3025
}, {
  "country": "China",
  "visits": 1882
}, {
  "country": "Japan",
  "visits": 1809
}, {
  "country": "Germany",
  "visits": 1322
}, {
  "country": "UK",
  "visits": 1122
}, {
  "country": "France",
  "visits": 1114
}, {
  "country": "India",
  "visits": 984
}, {
  "country": "Spain",
  "visits": 711
}, {
  "country": "Netherlands",
  "visits": 665
}, {
  "country": "Russia",
  "visits": 580
}, {
  "country": "South Korea",
  "visits": 443
}, {
  "country": "Canada",
  "visits": 441
}];

// Create axes
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;
categoryAxis.renderer.labels.template.horizontalCenter = "right";
categoryAxis.renderer.labels.template.verticalCenter = "middle";
categoryAxis.renderer.labels.template.rotation = 270;
categoryAxis.tooltip.disabled = true;
categoryAxis.renderer.minHeight = 110;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.minWidth = 50;

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.sequencedInterpolation = true;
series.dataFields.valueY = "visits";
series.dataFields.categoryX = "country";
series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
series.columns.template.strokeWidth = 0;

series.tooltip.pointerOrientation = "vertical";

series.columns.template.column.cornerRadiusTopLeft = 10;
series.columns.template.column.cornerRadiusTopRight = 10;
series.columns.template.column.fillOpacity = 0.8;

// on hover, make corner radiuses bigger
var hoverState = series.columns.template.column.states.create("hover");
hoverState.properties.cornerRadiusTopLeft = 0;
hoverState.properties.cornerRadiusTopRight = 0;
hoverState.properties.fillOpacity = 1;

series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});

// Cursor
chart.cursor = new am4charts.XYCursor();
</script>
<script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 * 
 * For more information visit:
 * https://www.amcharts.com/
 * 
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart
var chart = am4core.create("chart2", am4charts.XYChart);
chart.paddingRight = 20;

var data =  [{
        "year": "1950",
        "value": -0.307
    }, {
        "year": "1951",
        "value": -0.168
    }, {
        "year": "1952",
        "value": -0.073
    }, {
        "year": "1953",
        "value": -0.027
    }, {
        "year": "1954",
        "value": -0.251
    }, {
        "year": "1955",
        "value": -0.281
    }, {
        "year": "1956",
        "value": -0.348
    }, {
        "year": "1957",
        "value": -0.074
    }, {
        "year": "1958",
        "value": -0.011
    }, {
        "year": "1959",
        "value": -0.074
    }, {
        "year": "1960",
        "value": -0.124
    }, {
        "year": "1961",
        "value": -0.024
    }, {
        "year": "1962",
        "value": -0.022
    }, {
        "year": "1963",
        "value": 0
    }, {
        "year": "1964",
        "value": -0.296
    }, {
        "year": "1965",
        "value": -0.217
    }, {
        "year": "1966",
        "value": -0.147
    }, {
        "year": "1967",
        "value": -0.15
    }, {
        "year": "1968",
        "value": -0.16
    }, {
        "year": "1969",
        "value": -0.011
    }, {
        "year": "1970",
        "value": -0.068
    }, {
        "year": "1971",
        "value": -0.19
    }, {
        "year": "1972",
        "value": -0.056
    }, {
        "year": "1973",
        "value": 0.077
    }, {
        "year": "1974",
        "value": -0.213
    }, {
        "year": "1975",
        "value": -0.17
    }, {
        "year": "1976",
        "value": -0.254
    }, {
        "year": "1977",
        "value": 0.019
    }, {
        "year": "1978",
        "value": -0.063
    }, {
        "year": "1979",
        "value": 0.05
    }, {
        "year": "1980",
        "value": 0.077
    }, {
        "year": "1981",
        "value": 0.12
    }, {
        "year": "1982",
        "value": 0.011
    }, {
        "year": "1983",
        "value": 0.177
    }, {
        "year": "1984",
        "value": -0.021
    }, {
        "year": "1985",
        "value": -0.037
    }, {
        "year": "1986",
        "value": 0.03
    }, {
        "year": "1987",
        "value": 0.179
    }, {
        "year": "1988",
        "value": 0.18
    }, {
        "year": "1989",
        "value": 0.104
    }, {
        "year": "1990",
        "value": 0.255
    }, {
        "year": "1991",
        "value": 0.21
    }, {
        "year": "1992",
        "value": 0.065
    }, {
        "year": "1993",
        "value": 0.11
    }, {
        "year": "1994",
        "value": 0.172
    }, {
        "year": "1995",
        "value": 0.269
    }, {
        "year": "1996",
        "value": 0.141
    }, {
        "year": "1997",
        "value": 0.353
    }, {
        "year": "1998",
        "value": 0.548
    }, {
        "year": "1999",
        "value": 0.298
    }, {
        "year": "2000",
        "value": 0.267
    }, {
        "year": "2001",
        "value": 0.411
    }, {
        "year": "2002",
        "value": 0.462
    }, {
        "year": "2003",
        "value": 0.47
    }, {
        "year": "2004",
        "value": 0.445
    }, {
        "year": "2005",
        "value": 0.47
    }];

chart.data = data;
chart.dateFormatter.inputDateFormat = "yyyy";

var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 50;
dateAxis.baseInterval = {timeUnit:"year", count:1};

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.tooltip.disabled = true;

var series = chart.series.push(new am4charts.StepLineSeries());
series.dataFields.dateX = "year";
series.dataFields.valueY = "value";
series.tooltipText = "{valueY.value}";
series.strokeWidth = 3;

chart.cursor = new am4charts.XYCursor();
chart.cursor.xAxis = dateAxis;
chart.cursor.fullWidthLineX = true;
chart.cursor.lineX.strokeWidth = 0;
chart.cursor.lineX.fill = chart.colors.getIndex(2);
chart.cursor.lineX.fillOpacity = 0.1;

chart.scrollbarX = new am4core.Scrollbar();
</script>
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chart3", am4charts.PieChart3D);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.legend = new am4charts.Legend();

chart.data = [
  {
    country: "Lithuania",
    litres: 501.9
  },
  {
    country: "Czech Republic",
    litres: 301.9
  },
  {
    country: "Ireland",
    litres: 201.1
  },
  {
    country: "Germany",
    litres: 165.8
  },
  {
    country: "Australia",
    litres: 139.9
  },
  {
    country: "Austria",
    litres: 128.3
  },
  {
    country: "UK",
    litres: 99
  },
  {
    country: "Belgium",
    litres: 60
  },
  {
    country: "The Netherlands",
    litres: 50
  }
];

var series = chart.series.push(new am4charts.PieSeries3D());
series.dataFields.value = "litres";
series.dataFields.category = "country";

}); // end am4core.ready()
</script>
{% endblock %}