{% extends "base.html" %}
{% block nav_enquiries%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
    <!-- <div class="text-gray-500 px-lg-4 font-weight-bold" style="letter-spacing: 0.1em; padding-top: 1rem; text-align: center;">ALL ENQUIRIES</div> -->
    <section class="pt-4 pb-4">
      <div class="card mb-5 mb-lg-0">        
        <div class="card-header">
            <div class="header-left">
                <h2 class="h6 mb-0">All Enquiries</h2>
            </div>
            <div class="actions-right">
                <a href="/app/add_enquiry" class="btn btn-primary f-w-600 btn-xl-shadow">
                    Add Enquiries
                </a>
            </div>
        </div>
        <div class="card-body">
          <table id="example" class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>Company Name</th>
                      <th>Order Date</th>
                      <th>Placed by</th>
                      <th>Final Approved by</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>NEXA</td>
                      <td>2011/04/25</td>
                      <td>User 1</td>
                      <td>Admin 1</td>
                      <td>
                        <span style="width: 100px;">
                          <span class="btn-ideal btn-bold btn-ideal-sm btn-font-sm  btn-label-success">
                              Approved
                          </span>
                        </span>
                      </td>
                      <td>
                        <a href="/app/view_orders">
                          <i class="fas fa-eye"></i>
                        </a>
                      </td>
                  </tr>
                  <tr>
                      <td>NEXA</td>
                      <td>2011/03/21</td>
                      <td>User 2</td>
                      <td>Admin 2</td>
                      <td>
                        <span style="width: 100px;">
                          <span class="btn-ideal btn-bold btn-ideal-sm btn-font-sm btn-label-brand">
                              Pending
                          </span>
                        </span>
                      </td>
                      <td>
                        <a href="/app/view_orders">
                          <i class="fas fa-eye"></i>
                        </a>
                      </td>
                  </tr>
                  <tr>
                      <td>TATA</td>
                      <td>2011/04/25</td>
                      <td>User 3</td>
                      <td>Admin 3</td>
                      <td>
                        <span style="width: 100px;">
                          <span class="btn-ideal btn-bold btn-ideal-sm btn-font-sm  btn-label-danger">
                              Rejected
                          </span>
                        </span>
                      </td>
                      <td>
                        <a href="/app/view_orders">
                          <i class="fas fa-eye"></i>
                        </a>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </section>
<script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
{% endblock %}