{% extends "base.html" %}
{% block nav_listorders%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
<!-- <div class="px-lg-4 font-weight-bold mt-3 mb-3" style="letter-spacing: 0.1em; padding-top: 1rem; text-align: center;font-size: 18px;font-weight: 800;color: #303031;">VIEW APPROVED ORDERS</div> -->
<section class="pt-4 pb-4">
    <div class="card mb-5 mb-lg-0">        
        <div class="card-header">
            <h2 class="h6 mb-0">View Approved Orders</h2>
        </div>
        <div class="card-body">
            <div class="page">
                <div class="page-content">
                    <!-- Panel -->
                    <div class="panel-invoice">
                        <div class="panel-invoice-body container-fluid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3>
                                        <img class="mr-1" style="width: 30px;" src="../static/assets/img/logo-3.svg" alt="...">
                                        Cloud Lab
                                    </h3>
                                    <address>
                                    795 Folsom Ave, Suite 600
                                    <br> San Francisco, CA, 94107
                                    <br>
                                    <abbr title="Mail">E-mail:</abbr>&nbsp;&nbsp;example@google.com
                                    <br>
                                    <abbr title="Phone">Phone:</abbr>&nbsp;&nbsp;(123) 456-7890
                                    <br>
                                    <abbr title="Fax">Fax:</abbr>&nbsp;&nbsp;800-692-7753
                                    </address>
                                </div>
                            <div class="col-lg-3 offset-lg-6 text-right">
                                <h4>Invoice Info</h4>
                                <p>
                                <a class="font-size-20" href="javascript:void(0)">#5669626</a>
                                <br> To:
                                <br>
                                <span class="font-size-20">Machi</span>
                                </p>
                                <address>
                                795 Folsom Ave, Suite 600
                                <br> San Francisco, CA, 94107
                                <br>
                                <abbr title="Phone">P:</abbr>&nbsp;&nbsp;(123) 456-7890
                                <br>
                                </address>
                                <span>Invoice Date: January 20, 2017</span>
                                <br>
                                <span>Due Date: January 22, 2017</span>
                            </div>
                            </div>

                            <div class="page-invoice-table table-responsive">
                            <table class="table table-hover text-right">
                                <thead>
                                <tr>
                                    <th class="text-left">#</th>
                                    <th class="text-left">Grade</th>
                                    <th class="text-right">Size</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Date</th>
                                    <th class="text-right">Remarks</th>
                                    <th class="text-right">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-left">
                                    1
                                    </td>
                                    <td class="text-left">
                                    Grade C-97
                                    </td>
                                    <td>
                                    32 X 30
                                    </td>
                                    <td>
                                    12
                                    </td>
                                    <td>
                                    01 Dec 2014
                                    </td>
                                    <td>
                                    Not Applicable
                                    </td>
                                    <td>
                                    2,000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                    2
                                    </td>
                                    <td class="text-left">
                                    Grade C-97
                                    </td>
                                    <td>
                                    4 X 24
                                    </td>
                                    <td>
                                    20
                                    </td>
                                    <td>
                                    01 Jan 2016
                                    </td>
                                    <td>
                                    Delivered
                                    </td>
                                    <td>
                                    3,000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                    3
                                    </td>
                                    <td class="text-left">
                                    Grade C-97
                                    </td>
                                    <td>
                                    5 X 20
                                    </td>
                                    <td>
                                    20
                                    </td>
                                    <td>
                                    15 Feb 2018
                                    </td>
                                    <td>
                                    Available
                                    </td>
                                    <td>
                                    4,500.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                    4
                                    </td>
                                    <td class="text-left">
                                    Grade C-97
                                    </td>
                                    <td>
                                    32 X 30
                                    </td>
                                    <td>
                                    32
                                    </td>
                                    <td>
                                    27 Mar 2017
                                    </td>
                                    <td>
                                    In Stock
                                    </td>
                                    <td>
                                    12,000.00
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>

                            <div class="text-right clearfix">
                            <div class="float-right">
                                <p>Sub - Total amount:
                                <span>$4800</span>
                                </p>
                                <p>VAT:
                                <span>$35</span>
                                </p>
                                <p class="page-invoice-amount">Grand Total:
                                <span>$4835</span>
                                </p>
                            </div>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-warning btn-xl-shadow mr-1">
                                    Send SMS/Whatsapp
                                </button>
                                <button type="submit" class="btn btn-primary btn-xl-shadow mr-1">
                                    Proceed to payment
                                </button>
                                <button type="button" class="btn btn-info btn-xl-shadow" onclick="javascript:window.print();">
                                    Print
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}