
{% extends "base.html" %}
{% block nav_listorders%}
    class="sidebar-link text-muted active"
{% endblock %}
{% block content %}
{% load static %}
<!-- <div class="px-lg-4 font-weight-bold mt-3 mb-3" style="letter-spacing: 0.1em; padding-top: 1rem; text-align: center;font-size: 18px;font-weight: 800;color: #303031;">VIEW ORDER</div> -->
<section class="pt-4 pb-4">
    <div class="card mb-5 mb-lg-0">        
        <div class="card-header">
            <h2 class="h6 mb-0">View Order</h2>
        </div>
        <div class="card-body">
            <table id="example1" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Grade </th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Price (In Rupees)</th>
                        <th>Delivery Date & Time</th>
                        <th>Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NEXA</td>
                        <td>C-96</td>
                        <td>4 X 20</td>
                        <td>8
                        </td>
                        <td>
                            2,000.00
                        </td>
                        <td>20 Dec 2012 - 09:30 AM</td>
                        <td>
                        <a href="/app/invoice">
                            <i class="fas fa-print"></i>
                        </a>
                        </td>
                    </tr>
                    <tr>
                        <td>NEXA</td>
                        <td>C-96</td>
                        <td>4 X 20</td>
                        <td>8
                        </td>
                        <td>
                            5,000.00
                        </td>
                        <td>12 Jan 2014 - 12:45 PM</td>
                        <td>
                        <a href="/app/invoice">
                            <i class="fas fa-print"></i>
                        </a>
                        </td>
                    </tr>
                    <tr>
                        <td>TATA</td>
                        <td>C-67</td>
                        <td>4 X 20</td>
                        <td>8
                        </td>
                        <td>
                            10,000.00
                        </td>
                        <td>10 Feb 2015 - 10:15 AM</td>
                        <td>
                        <a href="/app/invoice">
                            <i class="fas fa-print"></i>
                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</section>
<script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example1').DataTable();
    });
</script>
{% endblock %}