
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CloudLab-IdealSteel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <link rel="stylesheet" href="/../static/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/../static/assets/css/style.default.css" id="theme-stylesheet">
        <link rel="stylesheet" href="/../static/assets/css/custom.css">
        <link rel="shortcut icon" href="/../static/assets/img/logo.png">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <link href="https://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
        <style>
            body {
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                color: #303031;
                background-color: #F8F9FB;
            }
            .form-control {
                padding: 0.4rem 0.8rem 0.4rem 0.2rem !important;
                font-size: 14px;
                line-height: 1.5;
                color: #495057;
                background-color: transparent;
                border: 0px;
                border-bottom: 1px solid #ced4da;
                border-radius: 0px;
                outline: none;
                -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            }
            .form-control:focus {
                color: #495057;
                background-color: transparent;
                border-color: #4680ff;
                outline: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .btn-xl-shadow {
                box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;
                position: relative !important;
                cursor: pointer !important;
                display: inline-block;
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
                -webkit-tap-highlight-color: transparent !important;
                vertical-align: middle !important;
                z-index: 1 !important;
                will-change: opacity, transfor !important;
                -webkit-transition: all 0.3s ease-out !important;
                -moz-transition: all 0.3s ease-out !important;
                -o-transition: all 0.3s ease-out !important;
                -ms-transition: all 0.3s ease-out !important;
                transition: all 0.3s ease-out !important;
                letter-spacing: .5px !important;
                border: none !important;
                border-radius: 6px !important;
                height: 34px !important;
                line-height: 34px !important;
                outline: 0 !important;
                padding: 0 1.8rem !important;
            }
        </style>
    </head>
    <body>
    <div class="page-holder d-flex align-items-center">
        <div class="container py-4">
            <div class="row align-items-center py-4">
                <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
                    <div class="pr-lg-5">
                        <img src="/../static/assets/img/bg.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-5 px-lg-4">
                    <h1 class="text-primary mb-4" style="font-size: 2.4rem;">Ideal Steel</h1>
                    <h2 class="mb-4">Please login to continue!</h2>
                    <form class="login-form" action="/app/login" class="mt-4" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <input type="text" name="username" autocomplete="off" id="username" placeholder="Email address" class="form-control" autofocus>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" name="password" autocomplete="off" id="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-xl-shadow login-btn px-5">Log in</button>
                        {% if error %}
                            <div>
                                <span class="" style="color:red;">{{error}}</span>
                            </div>
                        {% endif %}
                    </form>
                    <p class="mt-5 mb-0 text-dark-grey text-center">Powered by
                        <a href="https://google.com" target='_blank' class="external text-dark-grey">CloudLab Solution</a> 
                    </p>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <script src="/../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/../static/assets/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/../static/assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/../static/assets/js/front.js"></script>
    <script>
        var error = {% if error %} true {% else %} false {% endif %};
        if(error) {
            if(true) {
                $('.login-btn').removeClass('disabled');
            } else {
                $('.login-btn').addClass('disabled');
            }
        } else {
            disable_btn();
        };
        function disable_btn(){
            $(".login-btn").click(function(){
                $('.login-btn').addClass('disabled');
            });
        };
    </script>
    </body>
</html>
{% endblock %}