
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CloudLab-IdealSteel</title>
        <meta name="description" content="">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta name="robots" content="all,follow">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/../static/assets/css/login/app.min.css">
        <link rel="shortcut icon" href="/../static/assets/img/logo.png">
        <style>
            body {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                color: #303031;
                background-color: #F8F9FB;
            }
            .form-control {
                padding: 0.4rem 0.8rem 0.4rem 0.2rem !important;
                font-size: 14px;
                line-height: 1.5;
                color: #495057;
                background-color: transparent;
                border: 0px;
                border-bottom: 1px solid #ced4da;
                border-radius: 0px;
                outline: none;
                -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            }
            .form-control:focus {
                color: #495057;
                background-color: transparent;
                border-color: #4680ff;
                outline: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .btn-xl-shadow {
                box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;
                position: relative !important;
                cursor: pointer !important;
                display: inline-block;
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
                -webkit-tap-highlight-color: transparent !important;
                vertical-align: middle !important;
                z-index: 1 !important;
                will-change: opacity, transfor !important;
                -webkit-transition: all 0.3s ease-out !important;
                -moz-transition: all 0.3s ease-out !important;
                -o-transition: all 0.3s ease-out !important;
                -ms-transition: all 0.3s ease-out !important;
                transition: all 0.3s ease-out !important;
                letter-spacing: .5px !important;
                border: none !important;
                border-radius: 6px !important;
                height: 34px !important;
                line-height: 34px !important;
                outline: 0 !important;
                padding: 0 1.8rem !important;
            }
        </style>
    </head>
    <body class="pace-top">
        <!-- begin #page-loader -->
        <div id="page-loader" class="fade show">
            <span class="spinner"></span>
        </div>
        <!-- end #page-loader -->
        
        <!-- begin #page-container -->
        <div id="page-container" class="fade">
            <!-- begin login -->
            <div class="login login-with-news-feed">
                <!-- begin news-feed -->
                <div class="news-feed">
                    <div class="news-image" style="background-image: url(/../static/assets/img/bg-1.jpg)"></div>
                    <div class="news-caption">
                        <h4 class="caption-title"><b>Ideal</b> Steel</h4>
                        <p>
                            Download the Color Admin app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <!-- end news-feed -->
                <!-- begin right-content -->
                <div class="right-content">
                    <!-- begin login-header -->
                    <div class="login-header">
                        <div class="brand">
                            <b>Ideal</b> Steel
                            <!-- <small>responsive bootstrap 4 admin template</small> -->
                        </div>
                        <div class="icon">
                            <i class="fa fa-sign-in-alt"></i>
                        </div>
                    </div>
                    <!-- end login-header -->
                    <!-- begin login-content -->
                    <div class="login-content">
                        <form action="index.html" method="GET" class="margin-bottom-0">
                            <label class="control-label">Name <span class="text-danger">*</span></label>
                            <div class="row row-space-10">
                                <div class="col-md-6 m-b-15">
                                    <input type="text" class="form-control" placeholder="First name" required />
                                </div>
                                <div class="col-md-6 m-b-15">
                                    <input type="text" class="form-control" placeholder="Last name" required />
                                </div>
                            </div>
                            <label class="control-label">Email <span class="text-danger">*</span></label>
                            <div class="row m-b-15">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Email address" required />
                                </div>
                            </div>
                            <label class="control-label">Re-enter Email <span class="text-danger">*</span></label>
                            <div class="row m-b-15">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Re-enter email address" required />
                                </div>
                            </div>
                            <label class="control-label">Password <span class="text-danger">*</span></label>
                            <div class="row m-b-15">
                                <div class="col-md-12">
                                    <input type="password" class="form-control" placeholder="Password" required />
                                </div>
                            </div>
                            <div class="checkbox checkbox-css m-b-30">
                                <div class="checkbox checkbox-css m-b-30">
                                    <input type="checkbox" id="agreement_checkbox" value="">
                                    <label for="agreement_checkbox">
                                    By clicking Sign Up, you agree to our <a href="javascript:;">Terms</a> and that you have read our <a href="javascript:;">Data Policy</a>, including our <a href="javascript:;">Cookie Use</a>.
                                    </label>
                                </div>
                            </div>
                            <div class="register-buttons">
                                <a href="/app/dashboard" class="btn btn-primary btn-block btn-lg">Sign Up</a>
                            </div>
                            <div class="m-t-30 m-b-30 p-b-30">
                                Already a member? Click <a href="/app/login">here</a> to login.
                            </div>
                            <hr />
                            <p class="text-center text-grey-darker mb-0">
                                &copy; CloudLab Solution All Right Reserved 2020
                            </p>
                        </form>
                    </div>
                    <!-- end login-content -->
                </div>
                <!-- end right-container -->
            </div>
            <!-- end login -->
        </div>
    <script src="/../static/assets/css/login/app.min.js"></script>
    </body>
</html>
{% endblock %}